:root {
  /* COLORS */
  --dark-pink: #ba4270;
  --san-juan-blue: #36536b;
  --mirage-blue: #1b262f;
  --charm-pink: #da6d97;
  --light-san-juan-blue: #6c8294;
  /* FONT FAMILY */
  --font-body: 'Public Sans', "Arial", sans-serif;
  --font-heading: 'DM Serif Display', "Arial", sans-serif;
}

/* FONTS */
@font-face {
  font-family: 'DM Serif Display';
  src: url('../font/DMSerifDisplay-Italic.woff2') format('woff2'),
      url('../font/DMSerifDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Serif Display';
  src: url('../font/DMSerifDisplay-Regular.woff2') format('woff2'),
      url('../font/DMSerifDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Bold.woff2') format('woff2'),
      url('../font/PublicSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Regular.woff2') format('woff2'),
      url('../font/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Medium.woff2') format('woff2'),
      url('../font/PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-body);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  background-color: #edf3F8;
  color: var(--san-juan-blue);
}

.site-header--open {
  margin-top: 118px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* SITE HEADER */
.site-header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header--nav-open {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
}

.site-header::before {
  position: absolute;
  z-index: -1;
  left: calc(50% - 390px);
  bottom: calc(100% - 233px);
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: #36536B;
  opacity: 0.15;
  content: '';
}

.site-header::after {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: none;
  padding-left: 24px;
  padding-right: 24px;
  overflow: auto;
  background-color: var(--mirage-blue);
  content: '';
}

.site-header--nav-open::after {
  display: block;
}

.site-header--nav-open::before {
  z-index: 9;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo-img {
  display: block;
}

.site-header__toggler {
  width: 28px;
  height: 24px;
  border: none;
  padding: 0;
  background-image: url(../img/icon/header-burger.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;
}

.site-header--nav-open .site-header__toggler {
  position: relative;
  z-index: 12;
  top: 0;
  right: 0;
  background-image: url(../img/icon/close-btn-bg.svg);
}

.site-header__nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  width: 300px;
  display: none;
  padding-top: 95px;
  padding-left: 24px;
  padding-right: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  overflow: auto;
  height: 100vh;
}

.site-header--nav-open .site-header__nav {
  display: block;
}

.site-header__nav-list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-top: 43px;
  border-top: 1px solid rgba(251, 252, 254, 0.15);
  list-style: none;
  text-align: center;
}

.site-header__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.site-header__nav-link {
  text-decoration: none;
  color: #FBFCFE;
  opacity: 0.7;
}

.site-header__nav-link:hover {
  color: var(--san-juan-blue);
  opacity: 1;
}

.button {
  padding: 16px 36px;
  background-color: var(--dark-pink);
  border-radius: 24px;
  line-height: 18px;
  font-weight: bold;
  color: #FBFCFE;
  text-align: center;
  text-decoration: none;
}

.site-header__nav-button {
  display: block;
  max-width: 100%;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}



/* HERO */
.site-hero {
  padding-bottom: 80px;
}

.site-hero__img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.site-hero__content {
  width: 327px;
  margin: 0 auto;
  text-align: center;
}

.site-hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--san-juan-blue);
}

.site-hero__email {
  width: 327px;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 27px;
  border: none;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.site-hero__email::placeholder {
  font-family: 'Public Sans';
  font-weight: bold;
  font-size: 15px;
  color: var(--san-juan-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.site-hero__submit {
  width: 327px;
  margin-bottom: 24px;
  border: none;
}

.site-hero__contact-link {
  margin: 0;
  line-height: 18px;
  text-align: center;
  color: var(--light-san-juan-blue);
}

.site-hero__contact-link a {
  font-weight: bold;
  text-decoration: none;
  color: var(--light-san-juan-blue);
}


/* PARTNERS */
.partners {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  background-color: var(--mirage-blue);
}

.partners::before {
  position: absolute;
  z-index: -1;
  left: calc(50% - 390px);
  bottom: 100%;
  transform: translateY(178px);
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: #36536B;
  opacity: 0.15;
  content: '';
}

.partners__companies {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 56px;
  padding-left: 24px;
  padding-right: 24px;
}

.partners__companies-item:not(:nth-child(n+4)) {
  margin-bottom: 40px;
}

.partners__logo {
  object-fit: contain;
}

.google-logo, .nvidia-logo {
  margin-bottom: 0;
}

.partners__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'DM Serif Display';
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #FBFCFE;
}

.partners__desc {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  color: #FBFCFE;
  opacity: 0.7;
}

.partners__link-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__link {
  padding: 10px 32px;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.115385px;
  font-weight: bold;
  color: #FBFCFE;
}


/* IMPLEMENT */
.implement {
  padding-top: 80px;
  padding-bottom: 80px;
}

.implement__code {
  text-align: center;
  margin-bottom: 48px;
}

.implement__img {
  box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
}

.implement__content {
  width: 329px;
  margin: 0 auto;
}

.implement__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: 'DM Serif Display';
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.369231px;
  color: var(--san-juan-blue);
}

.implement__desc {
  margin: 0;
  text-align: center;
  color: var(--light-san-juan-blue);
}






/* MEDIA 768px */
@media only screen and (min-width: 768px) {
  /* SITE HEADER */

  .site-header::before {
    left: calc(50% - 474px);
    bottom: calc(100% - 286px);
    width: 949px;
    height: 949px;
  }

  .site-header::after {
    display: none;
  }

  .site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__logo-img {
    display: block;
  }

  .site-header__toggler {
    display: none;
  }

  .site-header__nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    flex-grow: 1;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
  }

  .site-header__nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 85px;
    margin-left: 64px;
    padding: 0;
    padding-top: 0;
    border-top: none;
  }

  .site-header__nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .site-header__nav-link {
    text-decoration: none;
    color: var(--san-juan-blue);
  }

  .site-header__nav-button {
    display: block;
    max-width: 100%;
    box-shadow: none;
  }


  /* SITE HERO */
  .site-hero {
    padding-bottom: 99px;
  }

  .site-hero__img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .site-hero__img {
    width: 159px;
    height: 300px;
  }  

  .site-hero__content {
    width: 573px;
    margin: 0 auto;
    text-align: center;
  }

  .site-hero__heading {
    font-size: 48px;
    line-height: 56px;
  }

  .site-hero__form {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  
  .site-hero__email {
    width: 445px;
    height: 48px;
    margin-bottom: 16px;
    padding-left: 27px;
    padding-right: 171px;
    border: none;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  }
  
  .site-hero__submit {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 62px;
    width: 173px;
    margin: 0;
    padding: 15px 24px;
    white-space: nowrap;
  }
  
  .site-hero__contact-link {
    margin: 0;
    line-height: 18px;
    text-align: center;
    color: var(--light-san-juan-blue);
  }
  
  .site-hero__contact-link a {
    font-weight: bold;
    text-decoration: none;
    color: var(--light-san-juan-blue);
  }


  /* PARTNERS */
  .partners {
    padding-top: 95px;
    padding-bottom: 88px;
  }

  .partners::before {
    transform: translateY(240px);
  }
  
  .partners__companies {
    justify-content: start;
    align-items: center;
    margin-bottom: 64px;
    padding-left: 88px;
    padding-right: 88px;
  }

  .partners__companies-item {
    flex-grow: 1;
  }

  .partners__companies-item:not(:nth-child(3n)) {
    margin-right: 60px;
  }
  
  .partners__logo {
    display: block;
  }

  .tesla-logo {
    width: 129px;
    height: 17px;
  }

  .microsoft-logo {
    width: 145px;
    height: 31px;
  }

  .hp-logo {
    width: 140px;
    height: 27px;
    margin-right: 0;
  }

  .oracle-logo {
    width: 131px;
    height: 17px;
  }

  .google-logo {
    width: 96px;
    height: 33px;
  }

  .nvidia-logo {
    width: 137px;
    height: 26px;
  }

  .partners__content {
    width: 456px;
    margin: 0 auto;
  }
  
  .partners__heading {
    font-size: 48px;
    line-height: 56px;
  }
  
  .partners__desc {
    margin-bottom: 32px;
  }
  
  .partners__link-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .partners__link {
    padding: 10px 32px;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.115385px;
    font-weight: bold;
    color: #FBFCFE;
  }

}


/* MEDIA 800px */
@media only screen and (min-width: 800px) {
  .site-header::before {
    left: calc(50% - -20px);
    bottom: calc(100% - 608px);
    width: 780px;
    height: 780px;
  }

  .site-hero {
    padding-bottom: 75px;
  }

  .site-hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .site-hero__img-wrap {
    display: block;
    margin: 0;
    margin-top: 34px;
    margin-right: 86px;
  }
  
  .site-hero__img {
    width: auto;
    height: auto;
  }  

  .site-hero__content {
    width: 546px;
    margin: 0;
    text-align: left;
  }

  .site-hero__heading {
    font-size: 60px;
    line-height: 1;
    text-align: left;
  }

  .site-hero__form {
    justify-content: start;
  }

  .site-hero__submit {
    right: 40px;
  }
  
  .site-hero__contact-link {
    margin: 0;
    padding-left: 27px;
    line-height: 18px;
    text-align: left;
  }
}


/* MEDIA 1000px */
@media only screen and (min-width: 1000px) {
  .site-header::before {
    left: calc(50% - -20px);
    bottom: calc(100% - 608px);
    width: 780px;
    height: 780px;
  }

  .site-hero {
    padding-bottom: 75px;
  }

  .site-hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .site-hero__img-wrap {
    display: block;
    margin: 0;
    margin-top: 34px;
    margin-right: 86px;
  }
  
  .site-hero__img {
    width: 263px;
    height: 500px;
  }  

  .site-hero__content {
    width: 546px;
    margin: 0;
    text-align: left;
  }

  .site-hero__heading {
    font-size: 72px;
    line-height: 1;
    text-align: left;
  }

  .site-hero__form {
    justify-content: start;
  }

  .site-hero__email {
    padding-right: 112px;
  }
  
  .site-hero__contact-link {
    margin: 0;
    padding-left: 27px;
    line-height: 18px;
    text-align: left;
  }
}



/* MEDIA 1440px */
@media only screen and (min-width: 1440px) {
  .site-header::before {
    left: calc(50% - -75px);
    bottom: calc(100% - 608px);
    width: 780px;
    height: 780px;
  }


  /* PARTNERS */
  .partners {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .partners__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .partners::before {
    left: calc(50% - 935px);
    top: 100%;
    transform: translateY(-841px);
  }

  .partners__companies {
    width: 536px;
    margin-bottom: 0;
    padding: 0;
  }

  .partners__content {
    width: 445px;
    margin: 0;
    text-align: left;
  }

  .partners__heading {
    font-size: 48px;
    line-height: 56px;
    text-align: left;
  }

  .partners__desc {
    margin-bottom: 32px;
    text-align: left;
  }

  .partners__link-wrap {
    align-items: flex-start;
  }

}

@media only screen and (max-width: 865px) and (min-width: 800px) {
  .site-hero__submit {
    right: 0; 
  }
}